<% content_for :before_container do %>
<div class="hero-unit">
	<%= render "slider" %>
</div>
<% end %>
<div class="span3 site-content margin-top-5 margin-bottom-5">
	<%= render "right_home_pane" %>
</div>
<div class="span9 site-content margin-top-5 margin-bottom-5">
	<%= render "left_home_pane" %>
</div>


