/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require jquery-ui-timepicker-addon
 *= require jquery.bracket
 *= require dataTables/jquery.dataTables.bootstrap
 *= require chosen
 */

$navbarButtonWidth: 100px;
$bodyBackgroundColor: #faf5e9;
$bodyTextColor: #555;

@import "bourbon";
@import "twitter/bootstrap";
@import "twitter/bootstrap/responsive";
@import "font-awesome";
@import "pages";

// Counteract an artefact in Chosen caused by the bootstrap theme
.chzn-results {
	color: rgb(82, 87, 92);
}

.nav-container{
	padding-right: 0px;
	padding-left: 0px;
}

.main-content-fluid {
	padding-left: 20px;
	padding-right: 20px;
}

body {
	background: $bodyBackgroundColor;
	color: $bodyTextColor;
}

.site-content {
	background: #FEFFFE;
	height: 100%;
	width: 100%;
	border: 1px solid #D8D8D8;
	padding: 10px 10px 10px 10px; /*Make space at the top for the legend*/
	border-radius: 15px;
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-left-5 {
	margin-left: 5px;
}

#footer {
	height: 60px;
	text-align: center;
	background: $navbarBackground;
	height: 60px;
	border-top: 3px solid $navbarBorder;
}

@media (max-width: 767px) {
.main-content-fluid {
	padding-left: 5px;
	padding-right: 5px;
}
}